@model List<VarsityPortal.Models.Mark>

@{
    ViewData["Title"] = "StudentMarks";
    Layout = "~/Views/Shared/_Layout.cshtml";
    }

    <h1>StudentMarks</h1>

    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="@Model[0].ExamName" class="control-label"></label>
                    <input asp-for="@Model[0].ExamName" class="form-control" />
                    <span asp-validation-for="@Model[0].ExamName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="@Model[0].OutOf" class="control-label"></label>
                    <input asp-for="@Model[0].OutOf" class="form-control" />
                    <span asp-validation-for="@Model[0].OutOf" class="text-danger"></span>
                </div>
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                Student Name
                            </th>

                            <th>
                                Student Id
                            </th>

                            <th>
                                Marks
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                       
                        @for(int i = 0;i < Model.Count;i++)
                        {
                            <tr>
                                <th>
                                    @Html.DisplayFor(modelItem => Model[i].Enrollment.Student.FirstName)
                                </th>

                                <th>
                                    @Html.DisplayFor(modelItem =>  Model[i].Enrollment.Student.Year)-
                                    @Html.DisplayFor(modelItem =>  Model[i].Enrollment.Student.Semester)-
                                    @Html.DisplayFor(modelItem =>  Model[i].Enrollment.Student.DepartmentId)-
                                    @Html.DisplayFor(modelItem =>  Model[i].Enrollment.Student.Id)
                                </th>

                                <th>
                                    <input asp-for="@Model[i].Score" />
                                    <input type="hidden" asp-for="@Model[i].EnrollmentStudentId" value="@Model[i].Enrollment.StudentId">
                                    <input type="hidden" asp-for="@Model[i].EnrollmentSectionId" value="@Model[i].Enrollment.SectionId">

                                </th>
                            </tr>
                            
                        }
                    </tbody>
                </table>
                @Html.AntiForgeryToken()
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>

        </div>
    </div>

